@{
    ViewBag.Title = "Home";
}

<div>
    <h1 class="fw-bold text-info text-center">Group Details</h1>
    <hr />
</div>
<table class="table text-center">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>11901582</td>
            <td>Umar Maqsood Bhatti</td>
        </tr>
        <tr>
            <td>11900958</td>
            <td>Shahzain Afzal</td>
        </tr>
        <tr>
            <td>11900847</td>
            <td>Irtaza Asghar</td>
        </tr>
    </tbody>
</table>
